.academy {
  color: white;
}

.first-academy {
  text-align: center;
  margin-inline: auto;
  max-width: 1600px;
  position: relative;
  border: 1px red solid;
  background-image: url("../assets/Academy/Absolute.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 20px 90px;
}

.first-academy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.first-academy h1,
.first-academy h3 {
  z-index: 1;
  position: relative;
}

.first-academy img {
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.second-academy {
  text-align: center;
  margin-inline: auto;
  max-width: 1600px;
}

.second-academy ul {
  justify-content: center;
  width: 50%;
  margin-inline: auto;
  justify-content: center;
  list-style: none;
}

.third-academy {
  max-width: 1600px;
  margin-inline: auto;
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.third-academy div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.third-one img {
  width: 20vw;
  max-width: 400px;
  min-width: 200px;
  aspect-ratio: 4/1;
}

.third-two img {
  max-width: 100px;
  min-width: 60px;
  width: 10vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
}

.third-three img {
  max-width: 300px;
  min-width: 60px;
  width: 30vw;
  height: 40px;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: black;
}
