.first-contact {
  margin-inline: auto;
  max-width: 1600px;
  background-image: url("../assets/Contact/UC.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 35px;
  text-shadow: 0 0 5px #fff, 0 0 10px, 0 0 15px #fff, 0 0 20px #fff,
    0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
}

.second-contact {
  margin-inline: auto;
  max-width: 1600px;
}

.main-heading {
  font-size: 24px;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 20px;
  color: #00ff00;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  border: 1px solid white;
}

.description {
  margin-bottom: 40px;
  margin-inline: auto;
  max-width: 800px;
  text-align: center;
  color: #b3ffb3;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.icon img {
  width: 60px;
  margin-bottom: 10px;
}

.email {
  font-size: 18px;
  color: #00ff00;
  font-weight: bold;
}

.list-networks {
  list-style-type: none;
  gap: 5px;
  display: flex;
  justify-content: center;
}

.third-contact {
  border-radius: 50%;
}

.fourth-contact {
  margin-inline: auto;
  max-width: 1600px;
}

.third-contact {
  width: 90%;
  max-width: 600px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 20px 15px rgb(0, 0, 0);
  margin-inline: auto;
  margin-block: 20px;
}

.third-contact img {
  width: 101%;
  height: 101%;
  object-fit: cover;
}
