.background {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
}

.home {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}

.first-home {
  color: white;
  justify-content: center;
  text-align: center;
  font-family: "Text";
}

.first-home h1 {
  font-family: "Titles";
  margin-top: 0;
}
