.background {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
}

.home {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.first-home {
  color: white;
  font-family: "Text";
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px red solid;
  margin-top: 30px;
  margin-inline: auto;
  max-width: 1600px;
}

.first-home h1 {
  font-family: "Titles";
}

.first-home button {
  width: 40%;
  margin-inline: auto;
  position: relative;
  z-index: 1;
}

.image1 {
  width: 150px;
  margin-inline: auto;
  margin-top: -30px;
  z-index: 0;
  position: relative;
}

.second-home {
  margin-inline: auto;
  max-width: 1600px;
  border: 1px solid red;
}

.buttonlist {
  display: flex;
  justify-content: space-around;
}

.third-home {
  display: flex;
  justify-content: space-around;
  border: red 1px solid;
  max-width: 1600px;
  margin-inline: auto;
  padding-block: 10px;
}

.third-home div {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 25%;
}

.third-home img {
  height: 60px;
}

.specialbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border-radius: 50px;
  width: 100%;
}

.fourth-home {
  display: flex;
  justify-content: space-around;
  padding-block: 20px;
  border: 1px red solid;
  max-width: 1600px;
  margin-inline: auto;
}

.fifth-home {
  border: 1px red solid;
  max-width: 1600px;
  margin-inline: auto;
}

.fifth-home h1 {
  text-align: center;
}

.fifth-home p {
  text-align: center;
  color: white;
}

.sixth-home {
  display: flex;
  justify-content: space-around;
  max-width: 1600px;
  border: 1px red solid;
  margin-inline: auto;
}

.sixth-home div {
  display: flex;
  flex-direction: column;
  padding-block: 20px;
  color: white;
}

.seventh-home {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  border: 1px red solid;
  margin-inline: auto;
  padding-bottom: 30px;
}

.icon {
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.eighth-home {
  color: white;
  display: flex;
  justify-content: space-around;
  max-width: 1600px;
  border: 1px red solid;
  margin-inline: auto;
}

.eighth-home article {
  display: flex;
  gap: 10px;
  align-items: center;
}

.eighth-home p {
  margin-top: -10px;
}
