.navbar {
  display: flex;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.8);
}

.icono1 {
  width: 60px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-block: 10px;
  list-style: none;
  max-width: 1600px;
  margin-inline: auto;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar li:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.navbar button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.language-icon {
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  z-index: 1000;
}

.language-icon:hover .dropdown {
  display: block;
}

.dropdown button {
  width: 100%;
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown button:hover {
  background-color: #f0f0f0;
}
