@font-face {
  font-family: "Titles";
  src: url("./assets/Fonts/AtomicAge-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Text";
  src: url("./assets/Fonts/Exo-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.primary-color {
  color: #69af00;
}

@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

.normalbutton {
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #69af00; 
  border: 1px solid #69af00;
  border-radius: 10px; 
  line-height: 2.5em;
  padding-inline: 3em;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
  background-color: rgba(147, 147, 147, 0.27)
}

.normalbutton:hover {
  color: white;
  box-shadow: 0 0 30px 0 #69af007b;
  background-color: #69af00; 
  transition: all 0.2s ease-out;
}

.normalbutton:hover:before {
  animation: shine 0.5s 0s linear;
}

.normalbutton:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}

.normalbutton:before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;

  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  transform: skewX(-20deg);
}

.secondbutton {
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  position: relative;
  text-align: center;
  border: 0 solid;
  border-radius: 10px; 
  line-height: 3em;
  padding-inline: 3em;
  color: white;
  background-color: #69af00;
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0);
  outline: 0.1px solid;
  outline-color: #ffffff;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.secondbutton:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 10px;
  text-shadow: 1px 1px 2px #427388; 
}

.normalbutton img {
  margin-right: 10px;
}
